fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg[binary]
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart

pandas
openpyxl
numpy

scikit-learn
sentence-transformers
spacy

celery[redis]
redis

pgvector

pytest
pytest-asyncio
httpx